[Unit]
Description=SLTC's distributed currency daemon
After=network.target

[Service]
User=SLTC
Group=SLTC

Type=forking
PIDFile=/var/lib/SLTCd/SLTCd.pid

ExecStart=/usr/bin/SLTCd -daemon -pid=/var/lib/SLTCd/SLTCd.pid \
          -conf=/etc/SLTC/SLTC.conf -datadir=/var/lib/SLTCd

ExecStop=-/usr/bin/SLTC-cli -conf=/etc/SLTC/SLTC.conf \
         -datadir=/var/lib/SLTCd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
